<p id="notice"><%= notice %></p>

<p>
  <b>Gamertag:</b>
  <%= @player.gamertag %>
</p>

<p>
  <b>On screen:</b>
  <%= @player.on_screen %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
